.calculator {
  display: flex;
  flex-direction: column;
  max-width: 50em;
  padding: 1em;
  margin: 0 auto;
  gap: 1em;
}

.calculator-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.calculator-spacer {
  line-height: 0;
}

.calculator-editors {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  column-gap: 1em;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.calculator-editors .empty {
  grid-column: span 3;
}

.calculator-divider-line {
  grid-column: span 2;
  height: 1px;
  background-color: var(--color-neutral-3);
}

.calculator-divider-editors-visibility {
  display: flex;
  font-size: 0.7em;
  margin: 0.2em 0;
}

.calculator-divider-editors-visibility .button {
  aspect-ratio: 1;
  line-height: 0;
}

.calculator-spacer,
.calculator-editor-label {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  margin-right: 1em;
}

.calculator-editor-input {
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
}

.calculator-editor-button {
  display: flex;
  justify-content: flex-end;
}

.calculator-editor-actions {
  display: flex;
}

.calculator-keyboard {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.calculator-settings {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 1em;
}

.calculator-instructions {
  align-self: flex-start;
  min-width: 100%;
  max-width: min-content;
}

.calculator-instructions table {
  width: 100%;
  border-collapse: collapse;
}

.calculator-instructions td,
.calculator-instructions th {
  border: 1px solid var(--color-neutral-3);
  padding: 0.2em 0.5em;
}

.calculator-instructions-sections {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.calculator-instructions-section-label {
  font-weight: bold;
  margin-bottom: 1em;
}

.calculator-instructions-sections
  div:not(.calculator-instructions-section-label)
  + table {
  margin-top: 1em;
}

.calculator-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8em;
}
