.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 0.5em 0.75em;

  outline-color: var(--color-primary-1);
  border: 1px solid var(--color-neutral-2);

  color: var(--color-neutral-1);
  line-height: normal;

  user-select: none;
  cursor: pointer;
  white-space: nowrap;

  font-size: var(--input-font-size);
  min-height: var(--input-height);
}

.Button.borderless {
  border-color: transparent;
}

.Button:hover {
  background-color: var(--color-background-1);
}

.Button:active {
  background-color: var(--color-primary-3);
}

.Button.selected,
.Button.selected:hover {
  color: var(--color-primary-2);
}

.Button.selected:not(.borderless),
.Button.selected:not(.borderless):hover {
  border-color: var(--color-primary-2);
}

.Button:hover:not(.borderless) {
  border-color: var(--color-primary-1);
}

.Button:hover {
  color: var(--color-primary-1);
}

.Button::before {
  content: attr(data-tooltip);
  white-space: nowrap;
  z-index: 1;
  position: absolute;
  background-color: var(--color-background-1);
  border: 1px solid var(--color-neutral-2);
  color: var(--color-neutral-1);
  padding: 0.4em;
  border-radius: 0.2em;
  pointer-events: none;
  font-size: 0.8rem;
  opacity: 0;
}

.Button.bottom:hover::before,
.Button.left:hover::before,
.Button.right:hover::before,
.Button.top:hover::before {
  transition: opacity cubic-bezier(1, 0, 1, 0) 0.5s;
  opacity: 1;
}

.Button.bottom::before {
  top: calc(100% + 0.3em);
  left: 50%;
  transform: translateX(-50%);
}

.Button.left::before {
  right: calc(100% + 0.3em);
  top: 50%;
  transform: translateY(-50%);
}

.Button.right::before {
  left: calc(100% + 0.3em);
  top: 50%;
  transform: translateY(-50%);
}

.Button.top::before {
  bottom: calc(100% + 0.3em);
  left: 50%;
  transform: translateX(-50%);
}
