.CodeEditor {
  border: 1px solid var(--color-neutral-2);
}

.CodeEditor:focus-within {
  border: 1px solid var(--color-primary-1);
}

.CodeEditor .cm-focused {
  outline-style: none;
}

.CodeEditor .cm-tooltip {
  background-color: var(--color-background-1);
  border: 1px solid var(--color-neutral-2);
  border-radius: 0.2em;
  color: var(--color-neutral-1);
  padding: 0;
  font-size: 0.8rem;
  font-variant: normal;
  font-weight: normal;
}

.CodeEditor .cm-diagnostic {
  padding: 0.2em 0.4em;
  margin: 0;
}
