.Input {
  position: relative;
  border: 1px solid var(--color-neutral-2);
  padding: 0.5em 0.75em;
  font-size: var(--input-font-size);
  min-height: var(--input-height);
  line-height: normal;
  cursor: text;
}

.Input:hover {
  border-color: var(--color-primary-1);
}

.Input:focus-within {
  outline: auto;
  outline-color: var(--color-primary-1);
}

.Input > input {
  background-color: transparent;
  border: none;
  color: var(--color-neutral-1);
  font-family: var(--font-family-normal);
  font-size: 1em;
  padding: 0;
}

.Input > input:focus {
  outline: none;
}

.Input > input::placeholder {
  color: var(--color-neutral-2);
}

.Input_Prefix {
  color: var(--color-neutral-2);
}

.Input.monospace .Input_Prefix,
.Input.monospace input {
  font-family: monospace;
  font-size: 1.15em;
}
