.IntegerEditor {
  position: relative;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  user-select: none;
}

.IntegerEditor_Char {
  position: relative;
  display: flex;
  justify-content: center;
  width: var(--caret-width);
}

.IntegerEditor.space-4
  .IntegerEditor_Char:nth-last-child(4n + 4):not(:first-child) {
  margin-left: var(--digits-space);
}

.IntegerEditor.space-8
  .IntegerEditor_Char:nth-last-child(8n + 8):not(:first-child) {
  margin-left: var(--digits-space);
}

.IntegerEditor_Caret {
  position: absolute;
  width: var(--caret-width);
  height: var(--caret-height);
  bottom: 0.2em;
  z-index: -1;
}

.IntegerEditor.caret-bar .IntegerEditor_Caret {
  width: 0.075em;
  left: 0;
  transform: translateX(-50%);
}

.IntegerEditor.caret-underline .IntegerEditor_Caret {
  height: 0.075em;
}

.IntegerEditor:focus .IntegerEditor_Caret {
  background-color: var(--color-primary-2);
}

.IntegerEditor:focus {
  outline: none;
}

.IntegerEditor:not(.disabled):focus .IntegerEditor_Char.solid {
  color: var(--color-primary-2);
}

.IntegerEditor:not(.disabled):focus .IntegerEditor_Char.empty {
  color: var(--color-primary-1);
}

.IntegerEditor:not(.disabled).caret-box:focus .IntegerEditor_Char.selected {
  color: var(--color-background-2);
}

.IntegerEditor.disabled .IntegerEditor_Char {
  color: var(--color-neutral-2);
}

.IntegerEditor.disabled:focus .IntegerEditor_Char {
  color: var(--color-primary-1);
}
