.Keyboard {
  display: grid;
  /* grid-template-columns: repeat(X, max-content); -> Defined in component via styles */
  font-family: monospace;
  font-size: 2em;
  gap: 0.3em;
}

.Keyboard_Key {
  height: 1.5em;
  width: 1.5em;
}

.Keyboard_Key > .Button > div {
  display: flex;
}

.Keyboard_Key .Button {
  height: 100%;
  width: 100%;
  text-align: center;
  min-height: unset;
}

.Keyboard_Key_xxs {
  font-size: 0.4em;
}

.Keyboard_Key_xs {
  font-size: 0.5em;
}

.Keyboard_Key_s {
  font-size: 0.7em;
}

.Keyboard_Key_l {
  font-size: 1.2em;
}
