.RadioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RadioGroup .Button:not(:last-child) {
  border-right-width: 0;
}

.RadioGroup .Button:hover,
.RadioGroup .Button:hover + * {
  border-left-color: var(--color-primary-1);
}

.RadioGroup .Button.selected,
.RadioGroup .Button.selected + * {
  border-left-color: var(--color-primary-2);
}
