.Section {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-neutral-2);
}

.Section_Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-variant: small-caps;
}

.Section_Children {
  padding: 2em;
  padding-top: 1em;
}

.Section.collapsible .Section_Header:hover {
  background-color: var(--color-background-1);
  cursor: pointer;
}

.Section.collapsible .Section_Header:focus {
  outline-color: var(--color-primary-1);
}

.Section.collapsible .Section_Header > span {
  font-variant: small-caps;
}

.Section.collapsible.collapsed .Section_Children {
  display: none;
}
