.select {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5em;

  border: 1px solid var(--color-neutral-2);
  font-size: 0.8em;
  line-height: normal;
  padding: 0.5em 0.75em;

  cursor: pointer;
}

.select:focus-within {
  outline-color: var(--color-primary-1);
  outline-style: auto;
}

.select-labels {
  pointer-events: none;
  width: max-content;
}

.select-label {
  line-height: 0;
}

.select-label.hidden {
  visibility: hidden;
}

.select-placeholder {
  color: var(--color-neutral-2);
}

.select-icon {
  display: flex;
  align-items: center;
  color: var(--color-neutral-2);
}

.select > select {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}

.select > select:focus {
  outline: none;
}
