.Setting {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.Setting_Label {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-variant: small-caps;
}

.Setting_Input {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
