.Setting {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.Setting.inline {
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.Setting.inline.top {
  align-items: flex-start;
}

.Setting.inline.bottom {
  align-items: flex-end;
}

.Setting_Label {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-variant: small-caps;
}

.Setting_Input {
  flex: 1;
  display: flex;
  align-items: center;
}

.Setting_Input.lg {
  font-size: 1.2em;
}
