.SnesMemory {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 1em;
}

.SnesMemory .dim {
  color: var(--color-neutral-2);
}

.SnesMemory_Table {
  display: flex;
  font-family: monospace;
  flex: 1;
}

.SnesMemory_Table_Group {
  display: flex;
  flex-direction: column;
}

.SnesMemory_Table_ColIndex,
.SnesMemory_Table_RowIndex,
.SnesMemory_Table_Grid,
.SnesMemory_Table_Corner {
  row-gap: 0.2em;
}

.SnesMemory_Table_Corner {
  padding-bottom: 0.3em;
  padding-right: 1.1em;
}

.SnesMemory_Table_RowIndex,
.SnesMemory_Table_Grid {
  padding-top: 0.5em;
}

.SnesMemory_Table_ColIndex,
.SnesMemory_Table_Grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  flex: 1;
  padding-left: 0.5em;
}

.SnesMemory_Table_ColIndex > div,
.SnesMemory_Table_Grid > div {
  display: flex;
  justify-content: center;
}

.SnesMemory_Table_Grid {
  cursor: pointer;
}

.SnesMemory_Table_Grid > div:hover {
  background-color: var(--color-highlight-2);
}

.SnesMemory_Table_Grid > div.selected {
  background-color: var(--color-highlight-1);
}

.SnesMemory_Table_ColIndex,
.SnesMemory_Table_RowIndex,
.SnesMemory_Table_Corner {
  font-weight: bold;
}

.SnesMemory_Table_ColIndex {
  border-bottom: 1px solid var(--color-neutral-2);
}

.SnesMemory_Table_RowIndex {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-neutral-2);
}

.SnesMemory_Table_Corner {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid var(--color-neutral-2);
  border-right: 1px solid var(--color-neutral-2);
  white-space: pre;
}

.SnesMemory_Table_Corner .IntegerStringInput_Char {
  width: unset;
}

.SnesMemory_Table_Corner
  .IntegerStringInput:not(.disabled):focus
  .IntegerStringInput_Char.solid {
  color: var(--color-primary-1);
}

.SnesMemory_Table_Corner
  .IntegerStringInput:not(.disabled):focus
  .IntegerStringInput_Char.selected {
  color: var(--color-primary-2);
}

.SnesMemory_Table_Corner .IntegerStringInput_Caret {
  display: none;
}

.SnesMemory_Footer {
  display: flex;
  column-gap: 1em;
  row-gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.SnesMemory_Footer_Group {
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}

.SnesMemory_Footer_Label {
  font-variant: small-caps;
}

.SnesMemory_Footer .Input,
.SnesMemory_Footer .Input input {
  font-family: monospace;
  font-size: 1em;
}

.SnesMemory_Footer_Selection {
  font-family: monospace;
  display: flex;
  align-items: flex-end;
  column-gap: 0.5em;
}
