.SnesRegister {
  border: 1px solid var(--color-neutral-2);
  display: flex;
  font-family: monospace;
  font-size: 1em;
}

.SnesRegister_Label {
  padding: 0.5em 0.75em;
  background-color: var(--color-background-1);
  color: var(--color-neutral-2);
  border-right: 1px solid var(--color-neutral-2);
}

.SnesRegister_Values {
  display: flex;
}

.SnesRegister_Value {
  display: flex;
  padding: 0.5em 0.75em;
}

.SnesRegister_Value:not(:last-child) {
  border-right: 1px solid var(--color-neutral-2);
}

.SnesRegister_Value > .dim {
  color: var(--color-neutral-2);
}
