.SnesProcessorStatus {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-neutral-2);
  font-family: monospace;
}

.SnesProcessorStatus_Legend,
.SnesProcessorStatus_Values {
  padding: 0.25em 0.75em;
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.SnesProcessorStatus_Legend {
  background-color: var(--color-background-1);
  color: var(--color-neutral-2);
  border-bottom: 1px solid var(--color-neutral-2);
}
