:root {
  --color-primary-1: #f6ad55;
  --color-primary-2: #ed8936;
  --color-primary-3: #652b19;

  --color-neutral-1: #f4f4f4;
  --color-neutral-2: #a1a1a1;

  --color-background-1: #3b3b3b;
  --color-background-2: #242424;
  --color-background-3: #141414;

  --caret-height: 1.2em;
  --caret-width: 0.75em;
  --digits-space: 0.4em;

  --input-font-size: 0.8em;
  --input-height: 2.35em;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-neutral-1);
  background-color: var(--color-background-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 20em;
}

a,
a:visited {
  color: var(--color-primary-2);
  outline-color: var(--color-primary-1);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

kbd {
  background-color: var(--color-background-1);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

@media (max-width: 40em) {
  :root {
    font-size: 2.1vw;
    overflow: hidden;
  }
}

.align-items_center {
  align-items: center;
}

.align-items_flex-start {
  align-items: flex-start;
}

.justify-content_center {
  justify-content: center;
}

.justify-content_space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex_1 {
  flex: 1;
}

.flex-wrap_wrap {
  flex-wrap: wrap;
}

.font-family_monospace {
  font-family: monospace;
}

.font-size_s {
  font-size: 0.8em;
}

.font-size_m {
  font-size: 1em;
}

.font-size_l {
  font-size: 1.2em;
}

.overflow_hidden {
  overflow: hidden;
}
